[INDEXFILE]
index_file=d:\\code\\python\\overlord\\meta\\


[STG_FILE_DIR_SETTINGS]
stg_web_folder_name=python\\
stg_code_folder=python-code\\
stg_images_folder=python\\images\\


[WEB_FILE_GENERATION]
course_type=SCRIPTING-LANGUAGE
icon=<i class="icon-python"></i>
theme_background_color=#3A83C2
theme_text_color=yellow
